<br/>
<br/>
<div style="text-align: center;font-size: 20px;font-weight: bold;margin-top: 70%">Plan Operativo Anual Estadal</div>
<div style="text-align: center;font-size: 20px;font-weight: bold;">{{ ano }}</div>
<br>
<div style="text-align: center;font-size: 20px;font-weight: bold;margin-top: 50%;">Tomo II</div>
<div style="text-align: center;font-size: 20px;font-weight: bold;">Ejercicio Fiscal {{ ano }}</div>
<br>
{# <div style="margin-top: 300%;">
	<span style="font-weight: bold;">
		{{ art['articulado']['articulo'] }}
	</span>
</div> #}
{# PLAN OPERATIVO ANUAL (REGISTRO DE ACCIONES Y ANTE PROYECTOS) #}

