<div style="width: 100%;text-align: center; font-size: 9px;">
   <p style="margin: 0px;">REPÚBLICA BOLIVARIANA</p>
   <p style="margin: 0px;">DE VENEZUELA</p>
   <p>
       <img src="{{ base_url('assets/image/aragua_escudo.jpg') }}" alt="" width="14%">
   </p>
   <p style="margin: 0px;">CONSEJO LEGISLATIVO</p>
   <p style="margin: 0px;">DEL ESTADO ARAGUA</p>
</div>
